<div class="form-group">
    <label for="userName">Tên đăng nhập</label>
    <input required type="text" class="form-control" id="userName" name="userName" value="<%=user.userName  %>">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input required type="text" class="form-control" id="email" name="email" value="<%=user.email  %>">
  </div>
  <div class="form-group">
    <label for="password">Mật khẩu</label>
    <input required type="text" name="password" class="form-control" id="password" value="<%=user.password %>">
  </div>
 
  <button type="submit" class="btn btn-success">Cập nhật</button>


